@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Plus Jakarta Sans", sans-serif;
  
  --color-primary: #00A78E;
  --color-primary-dark: #006B5D;
  --color-secondary: #006B5D;
  --color-tertiary: #DF775E;
  --color-neutral: #727876;
  --color-surface: #F5FBF7;
}

@layer base {
  body {
    @apply bg-surface text-slate-900 font-sans antialiased overflow-x-hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.glass-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
